<nav class="flex items-center justify-between flex-wrap px-5 py-3 border-b">
  <a href="/" class="block mx-auto lg:mx-0 font-semibold text-accent text-4xl mt-2 tracking-wide font-heading">bligblag.blog</a>
  <p class="font-subheading text-slate-400 hidden lg:block">A hodgepodge of thoughtcrimes.</p>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
    {% for entry in navPages %}
      <li class="inline">
        <a href="{{ entry.url }}" class="uppercase text-sm py-1 px-2 rounded mr-4 inline-block
                     {{ 'bg-black text-white' if entry.url in page.url
                     else 'text-gray-700 hover:text-gray-900' }}">
          {{ entry.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>