<div class="flex items-center gap-4">
  <div class="text-4xl">{{ status.emoji }}</div>
  <div class="align-middle text-lg">
    {{ status.content }}<br>
    <time>
      <small class="text-slate-400">{{ status.relative_time }}</small>
    </time>
  </div>
</div>