---
title: One Sentence
layout: layouts/page.njk
permalink: /one-sentence/
eleventyNavigation:
  key: One Sentence
  order: 2
---

<h2>Books</h2>

<ul>
  <li><a href="/one-sentence/books-2023">Books 2023</a> — {{ onesentence.books[2023].length }} books</li>
</ul>
